.sidebar {
    flex-basis: 70rem;
    background-color: var(--color-dark--1);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: space-between;
      // align-items: center;

      &__button {
        margin-top: 2.5rem;
        font-size: 1.5rem;
        height: max-content;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-button--1);
        color: white;
        cursor: pointer;

        &,
        &:link,
        &:visited {
            transition: all .5s;
        }
        
        &:hover {
          background-color: var(--color-button--2);
            box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.253);
        }

        &:focus,
        &:active {
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.253);
        }
      }
    }

  }
  
  .logo {
    height: 10rem;
    align-self: center;
    margin-bottom: 4rem;
  }
  
  .restaurants {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .restaurants::-webkit-scrollbar {
    width: 0;
  }
  
  .restaurant {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;

    &__title {
      font-size: 1.7rem;
      font-weight: 600;
      grid-column: 1 / -1;

    }

    &__details {
      display: flex;
      align-items: baseline;

    }

    &__icon {
      font-size: 2rem;
      margin-right: 0.2rem;
      height: 0.28rem;

    }
    
    &__value {
      font-size: 1.5rem;
      margin-right: 0.7rem;

    }
    
    &__unit {
      font-size: 1.1rem;
      color: var(--color-light--1);
      text-transform: uppercase;
      font-weight: 800;

    }
  }

  
  .form {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;
  
    /* Match height and activity boxes */
    height: max-content;
    transition: all 0.5s, transform 1ms;

    &__row {
        display: flex;
        align-items: center;
      }

    &__row--hidden {
        display: none;
      }

      &__label {
        flex: 0 0 50%;
        font-size: 1.5rem;
        font-weight: 600;
      }

      &__input {
        width: 100%;
        padding: 0.3rem 1.1rem;
        font-family: inherit;
        font-size: 1.4rem;
        border: none;
        border-radius: 3px;
        background-color: var(--color-light--3);
        transition: all 0.2s;

        &:focus {
            outline: none;
            background-color: #fff;
        }
      }

      &__btn {
        grid-column: 1/-1;
        margin: auto;
        margin-top: 1rem;
        font-size: 1.5rem;
        height: max-content;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-button--2);
        color: white;
        cursor: pointer;

        &,
        &:link,
        &:visited {
            transition: all .5s;
        }
        
        &:hover {
          background-color: var(--color-button--1);
            box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.253);
        }

        &:focus,
        &:active {
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.253);
        }
      }
    
  }
  
  .form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }
  
  
  .copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-light--1);
  }
  
  .twitter-link:link,
  .twitter-link:visited {
    color: var(--color-light--1);
    transition: all 0.2s;
  }
  
  .twitter-link:hover,
  .twitter-link:active {
    color: var(--color-light--2);
  }